{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>{{ _('fill-templatedata') }}</h1>

    <form method="post">
        <div class="row">
            <div class="col-sm-10">
                <div class="param-areas">
                    {% for param in params %}
                        <div class="param-area" data-param="{{param}}">
                            <h3 class="text-center">{{param}}</h3>
                            <div class="form-group">
                                <label for="{{param}}-label">Label</label>
                                <input class="form-control" type="text" name="{{param}}-label" id="{{param}}-label">
                            </div>
                            <div class="form-group">
                                <label for="{{param}}-description">Description</label>
                                <input class="form-control" type="text" name="{{param}}-description" id="{{param}}-description">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{param}}-required" id="{{param}}-required">
                                <label class="form-check-label" for="{{param}}-required">Required?</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-2">
                <div id="scoring-dashboard" class="col-sm-4 mx-auto" style="font-size: 2em;">
                    <span id="params-done">0</span>/<span id="params-all">0</span>
                </div>
            </div>
        </div>
        <button id="next-param" class="form-control btn btn-primary" type="button">Next param</button>
        <button class="form-control btn btn-secondary" type="submit">Save all</button>
    </form>
</div>

<script>
    // Scoring dashboard
    function refreshDashboard() {
        document.querySelector('#scoring-dashboard').classList.remove('d-none');
        fetch("{{url_for('api_template', wiki=wiki, template=template)}}").then((response) => {
            return response.json();
        }).then((data) => {
            document.querySelector('#params-done').innerText = data.params_done;
            document.querySelector('#params-all').innerText = data.params_all;
        });
    }

    // Step management
    let i = -1;

    function nextParam() {
        i++;
        document.querySelectorAll('.param-area').forEach((el) => {
            el.classList.add('d-none');
        });
        document.querySelectorAll('.param-area')[i].classList.remove('d-none');
    }
    nextParam();

    document.querySelector('#next-param').addEventListener('click', (el) => {
        nextParam();
    });
</script>
{% endblock %}